<main id="main" class="main">

    <div class="pagetitle">
      <h1>Cadastro de Documentos</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a  routerLink="/" routerLinkActive="active" >Home</a></li>
          <li class="breadcrumb-item active">Documentos</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
       
        <div class="col-lg-12">


          <div class="card">
            <div class="card-body">
              <!--<h5 class="card-title">Filtros</h5>-->

              <div class="row align-items-end mb-5">
                <div class="col-sm-3">
                  <label class="form-label">Clube</label>
                  <select class="form-select" [(ngModel)]="clube" aria-label="Default select example">
                    <option value="">Todas</option>
                    <option value="Clube Colina Verde">Clube Colina Verde</option>
                    <option value="Clube Coroa Boreal">Clube Coroa Boreal</option>
                    <option value="Clube Embaixadores de Cristo">Clube Embaixadores de Cristo</option>
                    <option value="Clube Embu das Artes">Clube Embu das Artes</option>
                    <option value="Clube Gigantes da Fé">Clube Gigantes da Fé</option>
                    <option value="Clube Guarany">Clube Guarany</option>
                    <option value="Clube Leões da Colina">Clube Leões da Colina</option>
                    <option value="Clube Leões da Vitória">Clube Leões da Vitória</option>
                    <option value="Clube Luzeiros da Serra">Clube Luzeiros da Serra</option>                    
                  </select>
                </div>
                <div class="col-sm-3">
                  <label for="inputText" class="form-label">Nome</label>
                  <input type="text" class="form-control" id="inputText"  [(ngModel)]="nome">
                </div>

                <div class="col-sm-3">
                  <label for="inputText" class="form-label">CPF</label>
                  <input type="text" class="form-control" id="inputText"  [(ngModel)]="cpf">
                </div>
                <div class="col-sm-3">
                  &nbsp;
                </div>
                <div class="col-sm-3">
                  <label for="inputText" class="form-label">Nome Responsável</label>
                  <input type="text" class="form-control" id="inputText"  [(ngModel)]="nomeResp">
                </div>
                
                <div class="col-sm-3">
                  <label for="inputText" class="form-label">Telefone</label>
                  <input type="text" class="form-control" id="inputText"  [(ngModel)]="telefone">
                </div>

                <div class="col-sm-3">
                  <label class="form-label">Status</label>
                  <select class="form-select" aria-label="Default select example" [(ngModel)]="status">
                    <option value="">Todos</option>
                    <option value="PENDENTE REVISÃO">PENDENTE REVISÃO</option>
                    <option value="OK">OK</option>
                    <option value="SOLICITAR DOCS">SOLICITAR DOCS</option>
                  </select>
                </div>

                

                


                <div class="col-sm-3">
                  <button type="submit" class="btn btn-dark w-100" (click)="pesquisar()" >Pesquisar</button>
                </div>
              </div>
              <div class="table-responsive">
              <!-- Bordered Table -->
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Clube</th>
                    <th scope="col">Nome do Desbravador</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Nome do Responsável</th>
                    <th scope="col">Telefone Celular</th>
                    <th scope="col">Status</th>
                    <th scope="col">Ações</th>
                  </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let documento of documentos">
                      <td>{{ documento.clube }}</td>
                      <td>{{ documento.NOME_DESBRAVADOR }}</td>
                      <td>{{ documento.CPF_DESBRAVADOR | cpfFormat }}</td>
                      <td>{{ documento.NOME_RESPONSAVEL }}</td>
                      <td>{{ documento.TELEFONE_CELULAR | phoneFormat }}</td>
                      <td>{{ documento.STATUS }}</td>
                      <td>
                        <button class="btn btn-dark" (click)="edit(documento.id)">Editar</button>
                        
                      </td>
                    </tr>
                    <tr *ngIf="documentos.length === 0">
                      <td colspan="6" class="text-center">Nenhum documento encontrado</td>
                    </tr>
                </tbody>
                
              </table>
              <!-- End Bordered Table -->
            </div>

            <div class="table-responsive">

              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                  <li class="page-item" [class.disabled]="currentPage === 1">
                    <a class="page-link text-custom" (click)="previousPage()">Anterior</a>
                  </li>
                  <li *ngFor="let page of [].constructor(totalPages); let i = index" class="page-item" [class.active]="currentPage === i + 1">
                    <a class="page-link text-custom" (click)="goToPage(i + 1)">{{ i + 1 }}</a>
                  </li>
                  <li class="page-item" [class.disabled]="currentPage === totalPages">
                    <a class="page-link text-custom " (click)="nextPage()">Próxima</a>
                  </li>
                </ul>
              </nav>

            </div>
              <div class="text-center" style="margin-top: 50px;">
                <button class="btn btn-dark" (click)="novo()">Adicionar Desbravador</button>
              </div>
            </div>
          </div>

          

        </div>
      </div>
    </section>

  </main><!-- End #main -->